@model StudentInfo

@{
    ViewData["Title"] = Model.Student.FullName;
}

<h2>@Model.Student.FullName</h2>

<div class="row">
    <div class="col col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col col-md-4">
                <b>ПІБ студента:</b>
            </div>
            <div class="col col-md-8">
                @Model.Student.FullName
            </div>
        </div>
        <div class="row">
            <div class="col col-md-4">
                <b>Група:</b>
            </div>
            <div class="col col-md-8">
                @Model.Group.GroupName
            </div>
        </div>
        <div class="row">
            <div class="col col-md-4">
                <b>Керівник:</b>
            </div>
            <div class="col col-md-8">
                @if (Model.Teacher == null)
                {
                    @:Відсутній
                }
                else
                {
                    @Model.Teacher.FullName
                }
            </div>
        </div>
        <div class="row">
            <div class="col col-md-4">
                <b>Оцінка:</b>
            </div>
            <div class="col col-md-8">
                @Model.Student.Mark
            </div>
        </div>
    </div>

    <div class="col col-lg-6 col-md-6 col-sm-12 col-xs-12">
        @if (Model.CourseWork == null)
        {
            <span style="color: red">Не затвердив тему!</span>
        }
        else
        {
            <div class="row">
                <div class="col col-md-4">
                    <b>Тема: </b>
                </div>
                <div class="col col-md-8">
                    @Model.CourseWork.Theme
                </div>
            </div>
            <div class="row">
                <div class="col col-md-4">
                    <b>Постановка задачі</b>
                </div>
                <div class="col col-md-8">
                    @Model.CourseWork.Task
                </div>
            </div>
            <div class="row">
                <div class="col col-md-4">
                    <b>Дата затвердження:</b>
                </div>
                <div class="col col-md-8">
                    @Model.CourseWork.SubmissionTime.ToString("HH:mm dd.MM.yy")
                </div>
            </div>
        }
    </div>
</div>

@if (User.IsInRole("Teacher"))
{
    <h3>Виставлення оцінки</h3>

    <form asp-controller="Teachers" asp-action="PutMark">
        <input type="hidden" name="studentId" value="@Model.Student.Id" />
        <label for="mark">Нова оцінка:</label>
        <input id="mark" name="mark" type="number" min="0" max="100" value="@Model.Student.Mark" />
        <input type="submit" value="Виставити оцінку" />
    </form>
}


<div id="history">
    <button v-on:click="updateHistory">Переглянути попередні версії</button>

    <table v-if="seen" class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Тема</th>
                <th scope="col">Постановка задачі</th>
                <th scope="col">Дата</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="x in history">
                <th>{{ x.theme }}</th>
                <td>{{ x.task }}</td>
                <td>{{ new Date(x.changeTime).toLocaleString() }}</td>
            </tr>
        </tbody>
    </table>
</div>

<script>
    let studentId = @Model.Student.Id;
</script>
<script src="~/js/courseWorkChangesHistory.js"></script>